SECRET_KEY = your-secret-key
DEBUG=True
DOMAIN=http://localhost:8000


DB_NAME=urlshortener
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432


POSTGRES_DB=urlshortener
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres